[submodule "Vendor/cocoaasyncsocket"]
	path = Vendor/cocoaasyncsocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
[submodule "Vendor/SPSuccinct"]
	path = Vendor/SPSuccinct
	url = git://github.com/nevyn/SPSuccinct.git
[submodule "Vendor/Finch"]
	path = Vendor/Finch
	url = git://github.com/nevyn/Finch.git

[submodule "Vendor/SCEvents"]
	path = Vendor/SCEvents
	url = https://github.com/mz2/SCEvents.git
